.heading, .video, .ideas, .products, .sleep-tips {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

a {
  text-decoration: none; }

body {
  font-family: Verdana, sans-serif;
  min-width: 320px; }
  body .container {
    width: 100%;
    margin-top: 30px; }

h2, h3 {
  color: #404040;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 10px; }

h3 {
  font-size: 18px; }

.heading {
  width: 70%; }
  .heading h2, .heading h3 {
    margin-bottom: 15px; }
  .heading .sub-heading {
    margin-bottom: 30px; }

.sub-heading {
  font-size: 14px;
  line-height: 22px;
  color: #505050; }

.video {
  width: 90%;
  margin-bottom: 80px; }
  .video .videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    background-color: #000; }
    .video .videoWrapper43 {
      padding-top: 75%; }
    .video .videoWrapper169 {
      padding-top: 56%; }
  .video .videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; }
  .video .videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s; }
    .video .videoPoster:before {
      content: '';
      background: url("../img/buttons/play-button.svg") no-repeat top 18px left 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60px;
      height: 60px;
      margin: -40px 0 0 -40px;
      border: 2px solid #fff;
      border-radius: 100%; }
    .videoWrapperActive .video .videoPoster {
      opacity: 0;
      height: 0;
      -webkit-transition-delay: 0s, 800ms;
      -moz-transition-delay: 0s, 800ms;
      transition-delay: 0s, 800ms; }

.ideas {
  width: 75%; }
  .ideas .sub-heading {
    margin-bottom: 40px; }
  .ideas .image-grid {
    clear: both;
    overflow: hidden;
    margin-bottom: 70px; }
    .ideas .image-grid .image-grid-item {
      width: 33.3%;
      padding: 0 20px;
      box-sizing: border-box;
      float: left; }
      .ideas .image-grid .image-grid-item img {
        width: 100%;
        margin-bottom: 5px; }
      .ideas .image-grid .image-grid-item p {
        font-size: 12px;
        line-height: 14px; }
      .ideas .image-grid .image-grid-item a {
        color: #505050; }
        .ideas .image-grid .image-grid-item a:hover {
          text-decoration: underline; }
  .ideas .cta {
    margin-bottom: 60px; }
    .ideas .cta a {
      font-size: 14px;
      color: #3568a8;
      text-transform: uppercase;
      border-bottom: 2px solid #3568a8;
      font-weight: bold; }

.products {
  width: 75%;
  overflow: hidden;
  margin-bottom: 80px; }
  .products h3 {
    margin-bottom: 40px; }
  .products .product-grid .item {
    width: 25%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box; }
    .products .product-grid .item a {
      font-size: 14px;
      color: #0d122d; }
      .products .product-grid .item a:hover {
        text-decoration: underline; }
    .products .product-grid .item img {
      width: 100%; }

.sleep-tips {
  margin-bottom: 10px; }
  .sleep-tips .sub-heading {
    margin-bottom: 20px; }
  .sleep-tips .tips-carousel {
    height: 462px;
    overflow: hidden;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; }
    .sleep-tips .tips-carousel .tip {
      padding-top: 10px;
      text-align: left; }
      .sleep-tips .tips-carousel .tip .slide-left, .sleep-tips .tips-carousel .tip .slide-right {
        width: 50%;
        float: left;
        box-sizing: border-box; }
      .sleep-tips .tips-carousel .tip .slide-left img {
        width: 100%; }
      .sleep-tips .tips-carousel .tip .slide-right {
        padding-top: 130px;
        height: 291.5px;
        width: 50%;
        float: left; }
        .sleep-tips .tips-carousel .tip .slide-right .wrapper {
          height: 119px;
          width: 100%;
          padding: 0 150px 0 40px;
          box-sizing: border-box; }
          .sleep-tips .tips-carousel .tip .slide-right .wrapper h3 {
            font-size: 42px;
            font-weight: bold;
            text-decoration: uppercase;
            margin-bottom: 8px; }
          .sleep-tips .tips-carousel .tip .slide-right .wrapper .coach-says {
            font-size: 24px;
            font-weight: bold;
            color: #0160a0;
            margin-bottom: 18px; }
          .sleep-tips .tips-carousel .tip .slide-right .wrapper .quote {
            font-size: 24px; }
    .sleep-tips .tips-carousel .interface {
      position: relative; }
      .sleep-tips .tips-carousel .interface .button-left, .sleep-tips .tips-carousel .interface .button-right {
        background: #0160a0;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 180px; }
        .sleep-tips .tips-carousel .interface .button-left .wrapper, .sleep-tips .tips-carousel .interface .button-right .wrapper {
          padding-top: 22.5px;
          height: 37.5px;
          width: 60px; }
        .sleep-tips .tips-carousel .interface .button-left .arrow, .sleep-tips .tips-carousel .interface .button-right .arrow {
          background: url("../img/icons/arrow-left.svg") no-repeat center;
          height: 15px;
          width: 100%;
          margin-left: auto;
          margin-right: auto; }
      .sleep-tips .tips-carousel .interface .button-left {
        left: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
      .sleep-tips .tips-carousel .interface .button-right {
        right: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
        .sleep-tips .tips-carousel .interface .button-right .arrow {
          transform: rotate(180deg); }
  .sleep-tips .sm-icons {
    height: 50px;
    width: 110px;
    position: relative;
    top: -20px;
    left: 50%;
    bottom: 0; }
    .sleep-tips .sm-icons .facebook, .sleep-tips .sm-icons .twitter {
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #000;
      position: relative;
      float: left; }
      .sleep-tips .sm-icons .facebook .icon, .sleep-tips .sm-icons .twitter .icon {
        height: 50px;
        width: 50px;
        position: absolute;
        z-index: 10; }
    .sleep-tips .sm-icons .facebook {
      margin-right: 10px; }
      .sleep-tips .sm-icons .facebook .icon {
        background: url("../img/icons/facebook-icon.svg") center no-repeat; }
    .sleep-tips .sm-icons .twitter .icon {
      background: url("../img/icons/twitter-icon.svg") center no-repeat; }

@media (max-width: 375px) {
  .video .videoPoster:before {
    background: url(../img/buttons/play-button.svg) no-repeat center left 14px;
    margin: -30px 0 0 -30px;
    background-size: 40%;
    top: 55%;
    width: 40px;
    height: 40px; } }

/*# sourceMappingURL=main.css.map */
