%block {
  margin : {
    right: auto;
    left: auto;
  }
  text-align: center;
}

%overlap {
  position:absolute; top:0; left:0;
}

a {
  text-decoration: none;
}

body {
  font-family: Verdana, sans-serif;

  .container {
    width: 100%;
    margin-top: 30px;
  }
}

.heading {
    width: 70%;

    .sub-heading {
      margin-bottom: 30px;
    }

    @extend %block;
}

h2 {
  color: #404040;
  text-transform: uppercase;
  font: {
    weight: bold;
    size: 26px;
  }
  margin-bottom: 15px;
}

.sub-heading {
  font-size: 14px;
  line-height: 22px;
  color: #505050;
}

.video {
  width: 90%;
  position:relative;
  height: 720px;

  .overlay {
    background: url('../img/youtube/poster.jpg') no-repeat center;
    width: 100%;
    height: 640px;

    @extend %overlap;
  }

  .youtube {
    @extend %overlap;
  }

  .play-button-container {
    padding-top: 308px;
    height: 332px;
    width: 100%;

    .play-button {
      background: url('../img/buttons/play-button.svg') no-repeat top 19px left 21px;
      padding: 19px;
      border: 2px solid #fff;
      border-radius: 50%;
      height: 24px;
      width: 21px;
      margin: 0 auto;
      position: relative;

      @extend %overlap;
    }
  }

  @extend %block;
}

.ideas {
  width: 75%;

  .sub-heading {
    margin-bottom: 40px;
  }

  .image-grid {
    clear: both;
    overflow: hidden;
    margin-bottom: 70px;

    .image-grid-item {
      width: 33.3%;
      padding: 0 20px;
      box-sizing: border-box;
      float: left;

      img {
        width: 100%;
        margin-bottom: 5px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }

      a {
        color: #505050;
      }
    }
  }

  .cta {
    margin-bottom: 60px;

    a {
      font-size: 14px;
      color: #3568a8;
      text-transform: uppercase;
      border-bottom: 2px solid #3568a8;
      font-weight: bold;
    }
  }

  @extend %block;
}
